# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
Client/.idea/**/workspace.xml
Client/.idea/**/tasks.xml
Client/.idea/dictionaries

Server/.idea/**/workspace.xml
Server/.idea/**/tasks.xml
Server/.idea/dictionaries

# Sensitive or high-churn files:
Client/.idea/**/dataSources/
Client/.idea/**/dataSources.ids
Client/.idea/**/dataSources.xml
Client/.idea/**/dataSources.local.xml
Client/.idea/**/sqlDataSources.xml
Client/.idea/**/dynamic.xml
Client/.idea/**/uiDesigner.xml

Server/.idea/**/dataSources/
Server/.idea/**/dataSources.ids
Server/.idea/**/dataSources.xml
Server/.idea/**/dataSources.local.xml
Server/.idea/**/sqlDataSources.xml
Server/.idea/**/dynamic.xml
Server/.idea/**/uiDesigner.xml

# Gradle:
Client/.idea/**/gradle.xml
Client/.idea/**/libraries

Server/.idea/**/gradle.xml
Server/.idea/**/libraries

# CMake
Client/cmake-build-debug/

Server/cmake-build-debug/

# Mongo Explorer plugin:
Client/.idea/**/mongoSettings.xml

Server/.idea/**/mongoSettings.xml

## File-based project format:
Client/*.iws

Server/*.iws

## Plugin-specific files:

# IntelliJ
Client/out/
Server/out/
Client/Downloads

# mpeltonen/sbt-idea plugin
Client/.idea_modules/

Server/.idea_modules/

# JIRA plugin
Client/atlassian-ide-plugin.xml

Server/atlassian-ide-plugin.xml

# Cursive Clojure plugin
Client/.idea/replstate.xml

Server/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
